body {
  background-color: #FFF0F5
} 

h2 {
  font-family: courier; color: white;
}

p {
  font-family: helvetica
}

img {
  height: 250px
}

.title {
  font-family:Impact, Charcoal, sans-serif; 
  text-align: center; 
  color:green;
}

a:link, a:visited {
  background-color: #5DADE2;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.right_tab {
  text-align: right
}
