body {
  background-color: #FFF0F5
} 

h2 {
  font-family: courier; color: white;
}

p {
  font-family: helvetica
}

img {
  height: 250px
}

.title {
  font-family:Impact, Charcoal, sans-serif; 
  text-align: center; 
  color:#5DADE2;
}

a:link, a:visited, a:hover::after{
  background-color: #5DADE2;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  content: "click me!!"
}

.tabs{
  text-align: center;
}
